body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    box-shadow: 20px 5px 5px white;
    background-color: #10225b;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
}

#img {
    transition: transform 1s ease-in-out;
}

.spin {
    transform: rotate(360deg);
}

header h1 {
    font-size: 36px;
}

main section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

strong {
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
}

footer img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}
